<!doctype html>
<html lang="ru">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Цифровая библиотека</title>
  </head>
  <body>
    <div class="container">
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          {% if number == 1 %}
            <li class="page-item disabled"><a class="page-link" tabindex="-1" aria-disabled="true">Назад</a></li>
          {% else %}
            <li class="page-item"><a class="page-link" href="./index{{number - 1}}.html">Назад</a></li>
          {% endif %}
          {% for num in pages_nums %}
            {% if num == number %}
              <li class="page-item active" aria-current="page"><a class="page-link" href="./index{{num}}.html">{{num}}<span class="sr-only">(current)</span></a></li>
            {% else %}
              <li class="page-item"><a class="page-link" href="./index{{num}}.html">{{num}}</a></li>
            {% endif %}
          {% endfor %}
          {% if number == pages_nums[-1] %}
            <li class="page-item disabled"><a class="page-link" tabindex="-1" aria-disabled="true">Вперёд</a></li>
          {% else %}
            <li class="page-item"><a class="page-link" href="./index{{number + 1}}.html">Вперёд</a></li>
          {% endif %}
        </ul>
      </nav>
      <div class="row">
        {% for line in page %}
          {% for desc in line %}
            <div class="col">
              <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                  <div class="col-md-4">
                    {% if desc['img_src'] == 'images/nopic.gif' %}
                      <img src="../{{desc['img_src']|urlencode}}" class="card-img" alt="Нет изображения">
                    {% else %}
                      <img src="../{{desc['img_src']|urlencode}}" class="card-img" alt="Обложка книги '{{desc['title']}}'">
                    {% endif %}
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">{{desc['title']}}</h5>
                      <p class="card-text">{{desc['author']}}</p>
                      <h6>
                        {% for genre in desc['genres'] %}
                          <span class="badge badge-light">{{genre}}</span>
                        {% endfor %}
                      </h6>
                      <a href="../{{desc['book_path']|urlencode}}" target="_blank">Читать</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
          <div class="w-100"></div>
        {% endfor %}
      </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
